
<mat-grid-list cols="1" rowHeight="3:1">

  <mat-grid-tile rowspan="2">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Item Category</mat-label>
        <mat-select>
          <mat-option value="option">Kitchen Appliance</mat-option>
          <mat-option value="option">Yardwork Appliance</mat-option>
          <mat-option value="option">Exercise Equipment</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Item Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <br>

      <div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">
              <!-- <mat-card-content>
                  <ul>
                       <li *ngFor="let file of files">
                          <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                          <span id="file-label">

                          </span>
                      </li>
                  </ul>
              </mat-card-content> -->
              <mat-card-actions>
                  <button>
                  <!--<button mat-button color="warn" (click)="onClick()">-->
                      <!--<mat-icon>file_upload</mat-icon>-->
                      Upload Picture
                  </button>
              </mat-card-actions>
          </mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>

    <br>
    <button
    mat-raised-button
    color="primary"
    type="submit">Save Post</button>
      <!-- <mat-form-field appearance="fill">
        <mat-label>From Date </mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field> -->

    </div>
  </mat-grid-tile>

</mat-grid-list>

<!--
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>



<h1>this works</h1>

-->
