<mat-toolbar color="primary">
  ToolTime
  <div fxFlex></div>
  <nav>
    <a style="background-color: transparent;" routerLink="/item-list-path" routerLinkActive="active">MARKET PLACE</a>
    <a style="background-color: transparent;" routerLink="/item-create-path" routerLinkActive="active">ADD AN ITEM</a>
    <a style="background-color: transparent;" routerLink="/owner-inventory" routerLinkActive="active">YOUR ITEMS</a>
    <button mat-button (click)="logout()">Logout</button>
  </nav>
  <!-- <button *ngIf="" routerLink="messagepage" mat-icon-button color="accent" [matBadge]="num"
          matBadgePosition="after"
          matBadgeColor="warn">
    <mat-icon>speaker_notes</mat-icon>
  </button> -->
</mat-toolbar>

<router-outlet></router-outlet>