<app-header></app-header>
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      placeholder="Item Name"
      ngModel
      required
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Plese enter something</mat-error>
    </mat-form-field>
    <br>
    <h4>Upload the image of your item</h4>
    <div><img [src]="url" *ngIf="url"></div>
    <input type="file" (change)="selectFile($event)">
    <br>
    <mat-form-field>
      <textarea
      matInput
      rows="6"
      name="content"
      placeholder="Item Description"
      ngModel
      required
      #content="ngModel">
     </textarea>
     <mat-error *ngIf="content.invalid">Plese enter something</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Please select a Category for your item</mat-label>
      <mat-select MatInput ngModel name="cate" required #cate="ngModel">
        <mat-option *ngFor="let cate of cates" [value]="cate.value">
          {{cate.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Add Items
    </button>
  </form>
</mat-card>
