
<div class="container">
  <img src="https://i.imgur.com/OiqxTL1.jpg">
  <div class="centered">
    <h2 class="example-title">
      Welcome To ToolTime!
    </h2>
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="primary">Sign Up</button>
  </div>
</div>

<a routerLink="/login" routerLinkActive="active">Login</a>
<a routerLink="/signup" routerLinkActive="active">Signup</a>

<!-- 
<app-header></app-header>
<h1>Welcome!</h1>
 -->

<!--
<nav>
  <a routerLink="/post-create-path" routerLinkActive="active">AS OWNER</a>
  <a routerLink="/post-list-path" routerLinkActive="active">AS RENTER</a>
</nav>
-->

<!-- 
<nav>
  <a routerLink="/signin-path" routerLinkActive="active">SIGN IN</a>
  <a routerLink="/signup-path" routerLinkActive="active">SIGN UP</a>
</nav>

<router-outlet></router-outlet>
 -->