<div class="container">
  <img src="https://i.imgur.com/OiqxTL1.jpg">
  <div class="centered">
    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="First Name" [(ngModel)]="firstname" name="first">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Last Name" [(ngModel)]="lastname" name="last">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input placeholder="Password" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password"
                         name="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>

        <div class="course-detail" *ngIf="(fxnObs | async)?.error">
          <div class="course-field">
            {{(fxnObs | async)?.error.message}}
          </div>
          <div class="course-field">
            {{(fxnObs | async)?.error.status}}
          </div>
          <!-- <div class="course-field">
            {{( fxnObs | async)?.firstName}}
          </div>
          <div class="course-field">
            {{( fxnObs | async)?.lastName}}
          </div> -->
        </div>
        <div style="width: 500px; height: 500px; background-color: red; z-index: 10000; position: absolute;"
             *ngIf="errmsg">
          {{ errmsg }}
        </div>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
