<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let post of posts" >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.cate}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src= {{post.imgurl}}>
      <mat-card-content>
        <p>{{post.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>REQUEST TO RENT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



